flows.json
[
    {
        "id": "860c8d09ac81bcf7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "279557437646d91b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ee174734a1ae2aa9",
        "type": "ui_group",
        "name": "Standard",
        "tab": "1a4bfd9b6b3510d5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a4bfd9b6b3510d5",
        "type": "ui_tab",
        "name": "SolCalc",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e2602e6c24409901",
        "type": "solcalc",
        "z": "860c8d09ac81bcf7",
        "name": "",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "0895097612fd32f1",
                "69b5df1077c862ad",
                "ce733abd49fc616f",
                "6a8a67f77fde1930"
            ]
        ]
    },
    {
        "id": "0895097612fd32f1",
        "type": "debug",
        "z": "860c8d09ac81bcf7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b2b309d479a652e",
        "type": "function",
        "z": "860c8d09ac81bcf7",
        "name": "SendCoords",
        "func": "if (msg.topic == \"datetime\") {\n  flow.set(\"datetime\", msg.payload);\n}\nif (msg.topic == \"latitude\") {\n  flow.set(\"latitude\", msg.payload);\n}\nif (msg.topic == \"longitude\") {\n  flow.set(\"longitude\", msg.payload);\n}\n\nmsg.payload = {\n    \"datetime\": new Date(flow.get(\"datetime\")),\n    \"latitude\": flow.get(\"latitude\"),\n    \"longitude\": flow.get(\"longitude\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"datetime\", new Date().getTime());\nflow.set(\"latitude\", 70.5);\nflow.set(\"longitude\", -23.5);\n",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "e2602e6c24409901"
            ]
        ]
    },
    {
        "id": "69b5df1077c862ad",
        "type": "ui_text",
        "z": "860c8d09ac81bcf7",
        "group": "ee174734a1ae2aa9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Next Event",
        "label": "{{msg.payload.nextevent.event}}",
        "format": "{{msg.payload.nextevent.datetime}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "622e021d5499a313",
        "type": "ui_text_input",
        "z": "860c8d09ac81bcf7",
        "name": "DateTimePick",
        "label": "Date/Time",
        "tooltip": "",
        "group": "ee174734a1ae2aa9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "datetime-local",
        "delay": "300",
        "topic": "datetime",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "5b2b309d479a652e"
            ]
        ]
    },
    {
        "id": "a8a539bee07f4042",
        "type": "ui_numeric",
        "z": "860c8d09ac81bcf7",
        "name": "Latitude",
        "label": "Latitude",
        "tooltip": "",
        "group": "ee174734a1ae2aa9",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": false,
        "topic": "latitude",
        "topicType": "str",
        "format": "{{value}}",
        "min": "-90",
        "max": "90",
        "step": "0.01",
        "className": "",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "5b2b309d479a652e"
            ]
        ]
    },
    {
        "id": "41c7bb8c9a879b3f",
        "type": "ui_numeric",
        "z": "860c8d09ac81bcf7",
        "name": "Longitude",
        "label": "Longitude",
        "tooltip": "",
        "group": "ee174734a1ae2aa9",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": true,
        "passthru": false,
        "topic": "longitude",
        "topicType": "str",
        "format": "{{value}}",
        "min": "-180",
        "max": "180",
        "step": "0.01",
        "className": "",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "5b2b309d479a652e"
            ]
        ]
    },
    {
        "id": "28f42620ad8e564f",
        "type": "debug",
        "z": "860c8d09ac81bcf7",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "a147fb30d2b54abf",
        "type": "ui_dropdown",
        "z": "860c8d09ac81bcf7",
        "name": "LocationSelect",
        "label": "Location",
        "tooltip": "",
        "place": "",
        "group": "ee174734a1ae2aa9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "Basel",
                "type": "str"
            },
            {
                "label": "",
                "value": "Hønseby",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "557505b6f68ec3d2"
            ]
        ]
    },
    {
        "id": "2586b1af9072393f",
        "type": "function",
        "z": "860c8d09ac81bcf7",
        "name": "SetLatitude",
        "func": "flow.set(\"latitude\", msg.payload.latitude);\nmsg.payload = msg.payload.latitude;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "a8a539bee07f4042"
            ]
        ]
    },
    {
        "id": "557505b6f68ec3d2",
        "type": "change",
        "z": "860c8d09ac81bcf7",
        "name": "Coordinate Lookup",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Basel",
                "fromt": "str",
                "to": "{\"latitude\":47.558129,\"longitude\":-7.5881165}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Vadsø",
                "fromt": "str",
                "to": "{\"latitude\": 70.0741267, \"longitude\": -29.7497770}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LocationPick",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "28f42620ad8e564f",
                "2586b1af9072393f",
                "57952f571d0e379f",
                "5b2b309d479a652e"
            ]
        ]
    },
    {
        "id": "3f2ac38e4f860d11",
        "type": "inject",
        "z": "860c8d09ac81bcf7",
        "name": "InjectBasel",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SelectBasel",
        "payload": "Basel",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "a147fb30d2b54abf",
                "c5c4eeb3f7a4eb98"
            ]
        ]
    },
    {
        "id": "c5c4eeb3f7a4eb98",
        "type": "function",
        "z": "860c8d09ac81bcf7",
        "name": "SetNow",
        "func": "flow.set(\"datetime\", new Date().getTime());\nmsg.payload = flow.get(\"datetime\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "622e021d5499a313"
            ]
        ]
    },
    {
        "id": "fdf03f7f3e529f47",
        "type": "comment",
        "z": "860c8d09ac81bcf7",
        "name": "Next Sunevent Calculator Flow",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "57952f571d0e379f",
        "type": "function",
        "z": "860c8d09ac81bcf7",
        "name": "SetLongitude",
        "func": "flow.set(\"longitude\", msg.payload.longitude);\nmsg.payload = flow.get(\"longitude\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "41c7bb8c9a879b3f"
            ]
        ]
    },
    {
        "id": "ce733abd49fc616f",
        "type": "ui_text",
        "z": "860c8d09ac81bcf7",
        "group": "ee174734a1ae2aa9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "After Next Event",
        "label": "{{msg.payload.afternextevent.event}}",
        "format": "{{msg.payload.afternextevent.datetime}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "79ee673073ba70f8",
        "type": "ui_text",
        "z": "860c8d09ac81bcf7",
        "group": "ee174734a1ae2aa9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Upcoming Sun Events",
        "label": "Upcoming Sun Events",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "f65892c26e734c98",
        "type": "ui_text",
        "z": "860c8d09ac81bcf7",
        "group": "ee174734a1ae2aa9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "SuncalcBase",
        "label": "Based on:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 520,
        "wires": []
    },
    {
        "id": "6a8a67f77fde1930",
        "type": "function",
        "z": "860c8d09ac81bcf7",
        "name": "ReportBased",
        "func": "msg.payload = \n    new Date(flow.get(\"datetime\")).toISOString() + \"<br/>\" +\n    flow.get(\"latitude\") + \"/\" +\n    flow.get(\"longitude\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "f65892c26e734c98"
            ]
        ]
    }
]
